* {
	box-sizing: border-box;
	font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
		
}


body {
	/* background: linear-gradient(to top, #71B280, #134E5E); */
	background: #e1ffff; /* Old browsers */
	background: -moz-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #e6f8fd 30%, #c8eefb 54%, #bee4f8 75%, #b1d8f5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e1ffff 0%,#e1ffff 7%,#e1ffff 12%,#e6f8fd 30%,#c8eefb 54%,#bee4f8 75%,#b1d8f5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 ); /* IE6-9 */
    background-attachment: fixed;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
	margin: 0;

}
.text-center {
    text-align: center;
}
.about {
    margin-bottom: 80px;
}
.profile-pic {
    box-shadow: 0px 4px 6px 2px lightgreen;
    border-radius: 50%;
}
.repo-row, .row-footer {
    padding: 65px 10px;
}
.repo-row:nth-child(odd) {
    background-color: #ffffff;
    -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
}
.technologies {
    margin-top: 15px;
    font-size: 3em;
    flex-wrap: wrap;
}
h2 a {
	font-size: 30px;
	
}
p {
    color: #4A4E69;
    
}
